h1, h2, h3, p, ul, ol, a, span {
    font-family: 'Assistant', sans-serif;
}

body {
    background-color: #231f20;
    font-weight: 200;
    color: #c2b59b;
}

.section {
    background-color:white;
    width:100%;
}

.section h1 {
    text-align:center;
    font-weight:200;
    font-size:2.5em;
}

.post {
    width:100%;
    margin-top:5%;
    margin-bottom:5%;
}

.post-body {
    float:left;
    position:relative;
    padding:10%;
}

.post-media{
    float:right;
    position:relative;
    padding:10%;
}

.post h2 {
    text-align:center;
    font-size:1em;
    font-weight:200;
}

#featured{
    margin:0;
    padding:0;
    width:100%;
}

#desktop {
    width:100%;
    display:inline;
    margin:0;
    padding:0;
}

#mobile {
    width:100%;
    display:none;
}

@media screen and (max-height: 450px) {
    #desktop {display: none;}
    #mobile {display:inline;}
}

/*flexbox*/

.container {
    margin: 50px;
}

/*-------- flex container --------*/
.flex-container {
    display: flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
    -webkit-flex-flow: row wrap;
    position: relative;
}
.flex-item {
    color: #fff;
    height: 210px;
    margin: 10px 0;
    padding: 0;
    width: 225px;
    position: relative;
}
.flex-item-inner {
    display: flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 210px;
    margin: 0;
    padding: 0;
    width: 100%;
}
.flex-item-inner a {
    color: #fff;
    cursor: pointer;
}

/*-------- cards --------*/
.card-front,
.card-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 185px;
    height: 170px;
    padding: 20px;
    margin: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    justify-content: flex-end;
    border: 3px solid;
    border-color: #c7b299;
}
.card-front i.tile-icon {
    display: block;
    margin: 10px auto 20px auto;
    text-align: center;
}
.card-front h4 {
    font-size: 18px;
    font-weight: 400;
    margin: 10px 0;
}
.card-front p.detail {
    font-size: 12px;
    font-weight: 200;
    margin: 0;
}
.card-front {
    background-color:#231f20;
    border: 3px solid;
    border-color: #c7b299;
}
.card-back {
    background-color: #095352;
    border: 3px solid;
    border-color: #c7b299;
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}
.card-back p.title {
    color: white;
    margin-top: 0;
    font-weight:normal;
}
.card-back p.desc {
    color:white;
    font-size: 12px;
    font-weight: lighter;
}
.card-back p.link {
    color: #c7b299;
}

/*-------- cards / flip effect --------*/
.flex-item:hover .card-front {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}
.flex-item:hover .card-back {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
}

/*sidenav*/

.sidenav {
    float:right;
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 6;
    top: 0;
   	left: 0;
    background-color: #231f20;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 5%;
    text-align:center;
    overflow-y: hidden;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    color: #c2b59b;
	font-family: 'Assistant', sans-serif;
	font-weight: lighter;
	text-transform: uppercase;
	letter-spacing: 2px;
    text-decoration: none;
    font-size: 1em;
    display: block;
    transition: 0.3s;

}

.sidenav a:hover{
     color: #f1f1f1;
 }

.sidenav .closebtn {
    position: absolute;
    top: 80%;
   	right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav {padding-bottom:15px;}
    .sidenav a {font-size: 18px;}
}

#projects{
    position: fixed;
    top: 2%;
    float:right;
    left: 85%;
    z-index:8;
    color:#c2b59b;
    font-family: 'Assistant', sans-serif;


}